html, body {
    background-color: #f2f2f2;
    color-scheme: light;
}

body {
    font-family: Arial;
    background: #f2f2f2;
}

.box {
    width: 500px;
    margin: 100px auto;
    background: yellow;
    padding: 40px;
    border-radius: 8px;
    text-align: center;
    box-shadow: 0 0 10px #aaa;
    font-size: 18px;
    font-weight: bold;
    color: #003d80;
}


.small-text{
    font-size:14px;
    colour:#666;
    font-weight:normal;
    letter-spacing:1px;
}

.author{
    font-size:22px;
    colour:#003d80;
    font-weight:bold;
    margin-bottom:25px;
}

.login-link:hover {
    color: darkred;
    text-decoration: underline;
}

.login-link:hover {
    text-decoration: underline;
}

input {
    width: 90%;
    padding: 10px;
    font-size: 16px;
}

button {
    width: 95%;
    padding: 10px;
    font-size: 16px;
    background: #003d80;
    color: white;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}
.titlebox{
    background:#0d47a1;
    color:white;
    text-align:center;
    padding:15px;
    font-size:28px;
    font-weight:bold;
    border-radius:8px;
    margin-bottom:20px;
}